mat-dialog-content {
  display: flex;
  flex-direction: column;

  .images, .price {
    flex-direction: row;

    mat-form-field {
        margin-right: 5%;
    }

    img {
      width: 15%;
      margin-right: 2%;
    }
  }

}
