<mat-grid-list cols="20" rowHeight="1vh" gutterSize="0">
  <mat-grid-tile colspan="20" rowspan="8" [style.background]="'lightblue'">
    <div class="header">
      <img src="favicon.ico">
      <span>Storeos Admin Dashboard</span>
      <div class="options">
        <button mat-mini-fab>
          <mat-icon>account_box</mat-icon>
        </button>
        <button mat-mini-fab>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="92" [style.background]="'lightgreen'">
    <div class="menu">
      <button mat-button>
        <mat-icon>shopping_bag</mat-icon> Products
      </button>
      <button mat-button>
        <mat-icon>message</mat-icon> Blog
      </button>
      <button mat-button>
        <mat-icon>settings</mat-icon> Settings
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="18" rowspan="92" [style.background]="'lightpink'">
    <router-outlet></router-outlet>
  </mat-grid-tile>
</mat-grid-list>
